<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      الرئيسية
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">الرئيسية</ion-title>
    </ion-toolbar>
  </ion-header>

  

  
      <ion-card class="ion-text-center">
        <img src="assets/img/log.png" />
        <ion-card-header>
          <ion-card-title>هارموني .. حيث الفن هو اللغة المحكية</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         ملتقى ثقافي تأسس في الشهر الخامس من العام 2019 يقع في مدينة حمص - سوريا
         يتألف من اربعة اقسام : الرسم والنحت والمكتبة ومكان الاستراحة
         يهدف لتنمية مواهب الشباب المحلية
        </ion-card-content>
      </ion-card>
   
      <ion-list *ngFor="let item of results.About" class="scroll-content" >
        <ion-item>
          <ion-card class="ion-text-center">
            <img src={{item.src}} />
            <ion-card-header>
              <ion-card-title>{{item.Title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            {{item.Text}}
            </ion-card-content>
          </ion-card>
          </ion-item>
          
          </ion-list>
</ion-content>