<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      الرئيسية
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">الرئيسية</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>تطبيق لمعرفة ارقام واماكن توافر اسطوانات الاوكسجين في سوريا</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      هذا التطبيق لتوفير ارقام اصحاب ومالكي اسطوانات الاوكسجين للاشخاص الذين بحاجة اسطوانة
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>هل انت بحاجة منفسة او اسطوانة اوكسجين ؟</ion-card-title>
    </ion-card-header>


    <ion-card-content>
      الرجاء الضغظ على الزر وادخال رقمك ليتم تسجيل طلبك
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">

            <ion-button fill="outline" href="/tabs/tab1">طلب اسطوانة اوكسجين</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>هل لديك اسطوانة اوكسجين ؟</ion-card-title>
    </ion-card-header>


    <ion-card-content>
      الرجاء الضغظ على الزر وادخال رقمك ليتم تسجيل طلبك
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-button fill="outline" href="/tabs/tab2">تسجيل اسطوانة اوكسجين</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>لمعرفة اماكن تواجد الاسطوانات اضغط على الزر في الادنى
      </ion-card-subtitle>
      <ion-card-title>اماكن توافر الاسطوانات</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-button fill="outline" href="/tabs/tab3">اماكن توافر اسطوانات الاوكسجين</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>