<ion-tabs>

  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-label>الرئيسية</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="members">
       <!-- <ion-icon name="triangle"></ion-icon>  -->
      <ion-label>المتطوعين</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab2">
       <ion-icon name="ellipse"></ion-icon> 
      <ion-label>تسجيل اسطوانات</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="lib" >
      <ion-label>المكتبة </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
