

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      تسجيل منفسة واوكسجين
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <ion-card-header>
       <ion-card-subtitle>سجل ما لديك من اسطوانات</ion-card-subtitle>
      <ion-card-title>يرجى تعئبة البيانات التالية</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #postRes="ngForm" (ngSubmit)="send()">
        <ion-item class="form-group">
          <ion-label position="floating">رقم الموبايل</ion-label>
          <ion-input class="form-control" required minlength="9"
          name="phoneNumber" pattern="[0-9]+" #phoneNumber="ngModel" id="phoneNumber"
           [(ngModel)]="phone" type="text"></ion-input>
        </ion-item>
        <span class="alert alert-danger" [hidden]="phoneNumber.valid || phoneNumber.pristine">
          الرجاء ادخال رقم الهاتف - 9 ارقام على الاقل
        </span>
        
        <ion-item class="form-group">
          <ion-label position="floating">المحافظة</ion-label>
          <ion-select class="form-control" required 
          name="cityName"  #cityName="ngModel" id="cityName"
           [(ngModel)]="city" placeholder="اختر محافظتك">
            <ion-select-option value="RDamascus">ريف دمشق</ion-select-option>
            <ion-select-option value="Damascus">دمشق</ion-select-option>
            <ion-select-option value="Homs">حمص</ion-select-option>
            <ion-select-option value="Aleepo">حلب</ion-select-option>
            <ion-select-option value="Hama">حماه</ion-select-option>
            <ion-select-option value="Tartus">طرطوس</ion-select-option>
            <ion-select-option value="Latakia">اللاذقية</ion-select-option>
            <ion-select-option value="Daraa">درعا</ion-select-option>
            <ion-select-option value="DirZor">دير الزور</ion-select-option>
            <ion-select-option value="Reqa">الرقة</ion-select-option>
            <ion-select-option value="Idleb">ادلب</ion-select-option>
            <ion-select-option value="Sweda">السويداء</ion-select-option>
            <ion-select-option value="kunetra">القنيطرة</ion-select-option>
            <ion-select-option value="Hasaka">الحسكة</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="form-group">
          <ion-label position="floating">المنطقة / الحارة</ion-label>
          <ion-input class="form-control"  
          name="areaName"  #areaName="ngModel" id="areName" [(ngModel)]="area" type="text"></ion-input>
        </ion-item>
        
        <ion-item class="form-group">
          <ion-label position="floating">السعر</ion-label>
          <ion-input class="form-control"  
          name="price"  #price="ngModel" id="price" pattern="[0-9]+" [(ngModel)]="count" type="number"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <ion-button ion-button primary [disabled]="!postRes.valid" type="submit" >ارسال</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        </form>

      
    </ion-card-content>
  </ion-card>
  <!-- <ion-button ion-button primary href="/reslists" >لائحة الاسطوانات المطلوبة</ion-button> -->
  <!-- <ion-button ion-button primary (click)="send()">لائحة الاسطوانات المطلوبة</ion-button> -->
</ion-content>

