 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      من نحن
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>سجل طلبك في حال رغبتك</ion-card-subtitle>
      <ion-card-title>يرجى تعئبة البيانات التالية</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form #tosend="ngForm" (ngSubmit)="send()">
        <ion-item class="form-group">
          <ion-label position="floating">رقم الموبايل</ion-label>
          <ion-input [(ngModel)]="phone" class="form-control" required minlength="9"
          name="phoneNumber" pattern="[0-9]+" #phoneNumber="ngModel" id="phoneNumber" type="text"></ion-input>
        </ion-item>
       
        <span class="alert alert-danger" [hidden]="phoneNumber.valid || phoneNumber.pristine">
          الرجاء ادخال رقم الهاتف - 9 ارقام على الاقل
        </span>
     
        <ion-item class="form-group">
          <ion-label position="floating">المحافظة</ion-label>
          <ion-select class="form-control" required 
          name="cityName" #cityName="ngModel" id="cityName" [(ngModel)]="city" placeholder="اختر محافظتك">
            <ion-select-option value="RDamascus">ريف دمشق</ion-select-option>
            <ion-select-option value="Damascus">دمشق</ion-select-option>
            <ion-select-option value="Homs">حمص</ion-select-option>
            <ion-select-option value="Aleepo">حلب</ion-select-option>
            <ion-select-option value="Hama">حماه</ion-select-option>
            <ion-select-option value="Tartus">طرطوس</ion-select-option>
            <ion-select-option value="Latakia">اللاذقية</ion-select-option>
            <ion-select-option value="Daraa">درعا</ion-select-option>
            <ion-select-option value="DirZor">دير الزور</ion-select-option>
            <ion-select-option value="Reqa">الرقة</ion-select-option>
            <ion-select-option value="Idleb">ادلب</ion-select-option>
            <ion-select-option value="Sweda">السويداء</ion-select-option>
            <ion-select-option value="kunetra">القنيطرة</ion-select-option>
            <ion-select-option value="Hasaka">الحسكة</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="alert alert-danger" [hidden]="cityName.valid || cityName.pristine">
         الرجاء اختيار المحافظة
        </span>
         
        <ion-item class="form-group">
          <ion-label position="floating">المنطقة / الحارة</ion-label>
          <ion-input  class="form-control" 
          name="areaName" #areaName="ngModel" id="areaName"
           [(ngModel)]="area" type="text"></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label position="floating">العمر</ion-label>
          <ion-input class="form-control" 
          name="personAge" maxlength="2" pattern="[0-9]+" #personAge="ngModel" id="personAge"
           [(ngModel)]="age" type="number"></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label position="floating">حالة المريض</ion-label>
          <ion-select class="form-control" 
          name="personStatus"  #personStatus="ngModel" id="personStatus"
            [(ngModel)]="status" placeholder="درجة الخطورة">
            <ion-select-option value="critical">حرجة</ion-select-option>
            <ion-select-option value="normal">اعراض وصعوبة تنفس</ion-select-option>
            <ion-select-option value="zero">لا يوجد اعراض</ion-select-option>
          </ion-select>
        </ion-item> 

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <ion-button ion-button primary [disabled]="!tosend.valid" type="submit" >ارسال</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>



      
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button ion-button primary href="/tabs/tab3">لائحة الاسطوانات المتوفر</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">من نحن</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-list *ngFor="let item of results" class="scroll-content">
  <ion-item>
    <ion-card class="ion-text-center">
      <img src={{item.src}} />
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.desc}}</ion-card-subtitle> 
      </ion-card-header>
    </ion-card>
  </ion-item>
  
</ion-list>
</ion-content>

