<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> لائحة الكتب المتوفرة</ion-title>
    <!-- <ion-select [(ngModel)]="city" placeholder="اختر محافظتك">
      <ion-select-option value="RDamascus">ريف دمشق</ion-select-option>
    </ion-select> -->
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-searchbar placeholder="ابحث عن الكتاب او المؤلف او القسم" [(ngModel)]="term" animated="true"></ion-searchbar>

  <ion-grid>
    <ion-row >
      <ion-col size="5" class="ion-text-center">
        <b>الكتاب</b>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
       <b>المؤلف</b> 
      </ion-col>
      <ion-col  class="ion-text-center">
        <b>القسم</b>
      </ion-col>
    </ion-row>
    
    <ion-row *ngFor="let item of data | filter:term" >
      <ion-col size="5" class="ion-text-center">
        
          {{item.Name}}
        
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        
          {{item.Author}}
        
      </ion-col>
      <ion-col  class="ion-text-center">
        
          {{item.Section}}
        
      </ion-col>
      
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <p *ngIf="loaded ;else loading"></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button ion-button primary href="/">الرئيسية</ion-button> -->

  <ng-template #loading>
		<div text-center>
			<ion-spinner></ion-spinner>
		</div>
	</ng-template>
</ion-content>